.tw-followCard {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
}

.tw-followCard-header {
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-followCard-info {
    display: flex;
    flex-direction: column;
}

.tw-followCard-infoUserName {
    opacity: .6;
}

.tw-followCard-avatar {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.tw-followCard-button {
    cursor: pointer;
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    border: 1px solid #000;
    width: 120px;
}

.tw-followCard-button.is-following {
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    width: 120px;
}

.tw-followCard-button.is-following:hover {
    background-color: rgba(255, 0, 0, 0.12);
    border: 1px solid red;
    color: red;
}

.tw-followCard-button:hover {
    background-color: #09f;
    transition: .3s ease background-color;
}
.tw-followCard-text {
    display: block;
}

.tw-followCard-button-isFollowing:hover .tw-followCard-text {
    display: none;
}

.tw-followCard-button-isFollowing:hover .tw-followCard-stopFollow {
    display: block;
}

.tw-followCard-stopFollow {
    display: none;
}